body {
    background-color: #242629;
    color: #fffffe;
}

#ms_card {
    background-color: #16161a;
}

#ms_card h4 {
    color: #fffffe;
}

#ms_card p {
    color: #94a1b2;
}

#container_img {
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container_img img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: cover;
}